@import "../src/assets/fonts/font.css";

:root {
font-family: 'Roboto Serif', serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  background-image: url('../public/images/planet.jpg');
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body{
overflow: hidden;
margin: 0;
}

.roboto-bold {
  font-family: roboto-bold !important;
}
.roboto-regular {
  font-family: roboto-regular !important;
}
.roboto-medium {
  font-family: roboto-medium !important;
}

 .container{
  overflow-x: hidden !important;
}

.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
} 

.scroll{
  position: absolute;
  top: 0;
  left: 0;
  
}

.text {
  justify-content: start !important;
  line-height: 0px;
  text-transform: capitalize !important;
  position: absolute;
}

.number {
  font-size: 300px;
  color: #545864;
}

.number span {
  display: inline-block;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
  background-image: 'url("../path/to/planet.jpg")';
  opacity: 0.9;
}

.slopeEnd {
  clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
  background-image: 'url("../path/to/planet.jpg")';
  /* opacity: 0.8; */
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 170%;
  height: 100%;
  cursor: pointer;
  
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 50%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 50%, gold 100%);
}

.purple{
  background: linear-gradient(to right,rgba(131,58,180,1) 50%, rgba(253,29,29,1) 100%);
}


.billboard-container {
  width: 50vw;
  overflow: hidden;
  padding: 20px;
}

.billboard-text {
  animation: scroll 15s linear infinite;
  font-size: 12px;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  margin-left: 5px;
  color:#fff;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

